# ETL of Dow 30 Stock Data
#### Fabienne Zumbuehl; James Ye; Tanvir Khan

In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import time
from sqlalchemy import create_engine

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

## price data from cnbc.com

In [3]:
price_url = "https://www.cnbc.com/dow-30/"

In [4]:
browser.visit(price_url)
time.sleep(5)
price_html = browser.html

In [5]:
price_data_tables = pd.read_html(price_html)
print("Number of tables: ", len(price_data_tables))
price_data_df = price_data_tables[0]
#price_data_df.set_index('SYMBOL', inplace=True)

# drop ticker 'Dow' because their substainability can not be found in Yahoo Finance
price_data_df.drop(index=29, inplace=True)

Number of tables:  1

In [6]:
price_data_df.index.name = 'id'
price_data_df

,SYMBOL,NAME,PRICE,CHANGE,%CHANGE,LOW,HIGH,PREVIOUS CLOSE
id,,,,,,,,
0,AXP,American Express Co,89.83,-0.90,-0.992,89.125,91.430,90.73
1,AAPL,Apple Inc,316.85,-2.38,-0.746,315.870,320.890,319.23
2,BA,Boeing Co,139.00,5.68,4.260,136.151,144.239,133.32
3,CAT,Caterpillar Inc,114.06,-1.63,-1.409,113.820,115.680,115.69
4,CSCO,Cisco Systems Inc,44.64,-0.80,-1.761,44.555,45.655,45.44
5,CVX,Chevron Corp,92.04,-0.96,-1.032,91.280,93.370,93.00
6,XOM,Exxon Mobil Corp,44.56,-0.81,-1.785,44.390,45.790,45.37
7,GS,Goldman Sachs Group Inc,180.10,-1.34,-0.739,177.680,181.170,181.44
8,HD,Home Depot Inc,240.88,2.69,1.130,235.790,241.180,238.19
9,IBM,International Business Machines Corp,119.12,-2.26,-1.862,118.970,121.720,121.38
10,INTC,Intel Corp,61.98,-1.12,-1.775,61.820,63.800,63.10
11,JNJ,Johnson & Johnson,146.71,-0.97,-0.657,145.820,148.500,147.68
12,KO,Coca-Cola Co,45.17,-0.72,-1.569,45.030,46.090,45.89
13,JPM,JPMorgan Chase & Co,90.17,-1.16,-1.270,89.670,91.760,91.33
14,MCD,McDonald’s Corp,185.08,0.98,0.530,182.106,185.480,184.10
15,MMM,3M Co,145.81,-2.40,-1.619,145.340,148.640,148.21
16,MRK,Merck & Co Inc,76.55,-0.34,-0.442,76.270,77.030,76.89
17,MSFT,Microsoft Corp,183.43,-2.23,-1.201,183.290,186.670,185.66
18,NKE,Nike Inc,94.26,1.31,1.410,92.370,94.380,92.95
19,PFE,Pfizer Inc,37.26,-0.37,-0.983,37.050,37.650,37.63
20,PG,Procter & Gamble Co,111.62,-1.66,-1.465,111.430,113.200,113.28
21,TRV,Travelers Companies Inc,99.17,3.63,3.800,94.930,100.800,95.54
22,UNH,UnitedHealth Group Inc,286.91,-1.08,-0.375,284.930,290.130,287.99
23,RTX,Raytheon Technologies Corp,60.10,2.30,3.979,58.200,60.210,57.80
24,VZ,Verizon Communications Inc,53.97,-0.29,-0.535,53.860,54.640,54.26
25,V,Visa Inc,190.62,-3.24,-1.671,190.020,193.616,193.86
26,WBA,Walgreens Boots Alliance Inc,39.75,-0.39,-0.972,39.660,40.760,40.14
27,WMT,Walmart Inc,124.99,-0.46,-0.367,124.250,126.140,125.45
28,DIS,Walt Disney Co,117.83,-2.09,-1.743,116.500,120.300,119.92

In [7]:
dow29_symbols = price_data_df['SYMBOL']
dow29_symbols

id
0      AXP
1     AAPL
2       BA
3      CAT
4     CSCO
5      CVX
6      XOM
7       GS
8       HD
9      IBM
10    INTC
11     JNJ
12      KO
13     JPM
14     MCD
15     MMM
16     MRK
17    MSFT
18     NKE
19     PFE
20      PG
21     TRV
22     UNH
23     RTX
24      VZ
25       V
26     WBA
27     WMT
28     DIS
Name: SYMBOL, dtype: object

## dividend data from dividend.com

In [8]:
dividend_url = "https://www.dividend.com/dividend-stocks/dow-30-dividend-stocks/"

In [9]:
dividend_data_tables = pd.read_html(dividend_url)
print("Number of tables: ", len(dividend_data_tables))
dividend_data_df = dividend_data_tables[0]
dividend_data_df.head()

Number of tables:  1

,Unnamed: 0,Stock Symbol,Company Name,DARSâ¢ Rating,Dividend Yield,Closing Price,Annualized Dividend,Ex-Div Date,Pay Date
0,NaN,XOM,Exxon Mobil,locked,7.87%,$45.74,$3.4800,2020-05-12,2020-06-10
1,NaN,BA,Boeing Co.,locked,6.16%,$128.91,$8.2200,2020-02-13,2020-03-06
2,NaN,CVX,Chevron Corp,locked,5.40%,$93.37,$5.1600,2020-05-18,2020-06-10
3,NaN,IBM,IBM Corp,locked,5.30%,$122.59,$6.5200,2020-05-07,2020-06-10
4,NaN,UTX,United Technologies,locked,5.16%,$86.01,$2.9400,2020-02-13,2020-03-10

In [10]:
# only run these once!!!
del(dividend_data_df["Unnamed: 0"])
#dividend_data_df.set_index("Stock Symbol", inplace=True)
dividend_data_df.head()

,Stock Symbol,Company Name,DARSâ¢ Rating,Dividend Yield,Closing Price,Annualized Dividend,Ex-Div Date,Pay Date
0,XOM,Exxon Mobil,locked,7.87%,$45.74,$3.4800,2020-05-12,2020-06-10
1,BA,Boeing Co.,locked,6.16%,$128.91,$8.2200,2020-02-13,2020-03-06
2,CVX,Chevron Corp,locked,5.40%,$93.37,$5.1600,2020-05-18,2020-06-10
3,IBM,IBM Corp,locked,5.30%,$122.59,$6.5200,2020-05-07,2020-06-10
4,UTX,United Technologies,locked,5.16%,$86.01,$2.9400,2020-02-13,2020-03-10

In [11]:
dividend_reduced_df = dividend_data_df[['Dividend Yield', 'Annualized Dividend', 'Ex-Div Date', 'Pay Date']].copy()
#dividend_reduced_df.index.name = "SYMBOL"
#dividend_reduced_df.drop(index=29, inplace=True)
dividend_df = dividend_reduced_df
dividend_df.index.name = 'id'
dividend_df

   Dividend Yield Annualized Dividend Ex-Div Date    Pay Date
id
0           7.87%             $3.4800  2020-05-12  2020-06-10
1           6.16%             $8.2200  2020-02-13  2020-03-06
2           5.40%             $5.1600  2020-05-18  2020-06-10
3           5.30%             $6.5200  2020-05-07  2020-06-10
4           5.16%             $2.9400  2020-02-13  2020-03-10
5           4.50%             $1.8300  2020-05-19  2020-06-12
6           4.11%             $1.5200  2020-05-07  2020-06-05
7           4.03%             $5.8800  2020-02-13  2020-03-12
8           3.95%             $3.6000  2020-04-03  2020-04-30
9           3.68%             $1.6400  2020-06-12  2020-07-01
10          3.67%             $4.1200  2020-04-17  2020-05-20
11          3.55%             $3.4000  2020-06-09  2020-06-30
12          3.35%             $1.4400  2020-04-02  2020-04-22
13          3.23%             $2.4400  2020-03-13  2020-04-07
14          2.82%             $3.1628  2020-04-23  2020-05-15
15          2.76%             $5.0000  2020-02-28  2020-03-16
16          2.74%             $4.0400  2020-05-22  2020-06-09
17          2.70%             $5.0000  2020-05-29  2020-06-29
18          2.56%             $6.0000  2020-03-11  2020-03-26
19          2.21%             $1.3200  2020-05-06  2020-06-01
20          1.92%             $1.7200  2020-07-01  2020-08-10
21          1.77%             $2.1600  2020-08-13  2020-09-08
22          1.61%             $1.7600  2019-12-13  2020-01-16
23          1.52%             $4.3200  2020-03-13  2020-03-24
24          1.11%             $2.0400  2020-05-20  2020-06-11
25          1.11%             $0.9800  2020-05-29  2020-07-01
26          1.06%             $3.2800  2020-05-08  2020-05-14
27          0.66%             $1.2000  2020-05-13  2020-06-02
28          0.00%             $0.0000         NaN         NaN

In [12]:
dividend_df['Dividend Yield'] = dividend_df['Dividend Yield'].str.replace('%','').astype(float)
dividend_df['Annualized Dividend'] = dividend_df['Annualized Dividend'].str.replace('$','').astype(float)

In [13]:
print(dividend_df.dtypes)
dividend_df.head()

Dividend Yield         float64
Annualized Dividend    float64
Ex-Div Date             object
Pay Date                object
dtype: object

    Dividend Yield  Annualized Dividend Ex-Div Date    Pay Date
id
0             7.87                 3.48  2020-05-12  2020-06-10
1             6.16                 8.22  2020-02-13  2020-03-06
2             5.40                 5.16  2020-05-18  2020-06-10
3             5.30                 6.52  2020-05-07  2020-06-10
4             5.16                 2.94  2020-02-13  2020-03-10

## finance.yahoo.com

In [14]:
print("ticker", "ESG Score")
egs_rating_list = []
first = True
for stock_symbol in dow29_symbols:
    sustainability_url = f"https://finance.yahoo.com/quote/{stock_symbol}/sustainability?p={stock_symbol}"
    browser.visit(sustainability_url)
    if first:
        time.sleep(5)
        first = False
    else:
        time.sleep(1)
    ESG_Risk_Score = browser.find_by_css('div[class="Fz(36px) Fw(600) D(ib) Mend(5px)"]').value
    print(stock_symbol, ESG_Risk_Score)
    egs_rating_list.append(ESG_Risk_Score)

ticker ESG Score
AXP 22
AAPL 24
BA 39
CAT 38
CSCO 14
CVX 40
XOM 34
GS 32
HD 13
IBM 18
INTC 16
JNJ 35
KO 26
JPM 22
MCD 25
MMM 34
MRK 28
MSFT 16
NKE 17
PFE 33
PG 25
TRV 24
UNH 21
RTX 29
VZ 20
V 18
WBA 17
WMT 29
DIS 15

In [15]:
egs_rating_list

['22',
 '24',
 '39',
 '38',
 '14',
 '40',
 '34',
 '32',
 '13',
 '18',
 '16',
 '35',
 '26',
 '22',
 '25',
 '34',
 '28',
 '16',
 '17',
 '33',
 '25',
 '24',
 '21',
 '29',
 '20',
 '18',
 '17',
 '29',
 '15']

In [16]:
price_data_df['ESG Rating'] = egs_rating_list

In [17]:
price_data_df['ESG Rating'] = pd.to_numeric(price_data_df['ESG Rating'])
price_data_df.rename(columns={'%CHANGE':'PCT_CHANGE'}, inplace=True)

#price_data_df['NAME'] = price_data_df['NAME'].astype(str)
price_data_df.dtypes

SYMBOL             object
NAME               object
PRICE             float64
CHANGE            float64
PCT_CHANGE        float64
LOW               float64
HIGH              float64
PREVIOUS CLOSE    float64
ESG Rating          int64
dtype: object

In [26]:
price_data_df

,SYMBOL,NAME,PRICE,CHANGE,PCT_CHANGE,LOW,HIGH,PREVIOUS CLOSE,ESG Rating
id,,,,,,,,,
0,AXP,American Express Co,89.83,-0.90,-0.992,89.125,91.430,90.73,22
1,AAPL,Apple Inc,316.85,-2.38,-0.746,315.870,320.890,319.23,24
2,BA,Boeing Co,139.00,5.68,4.260,136.151,144.239,133.32,39
3,CAT,Caterpillar Inc,114.06,-1.63,-1.409,113.820,115.680,115.69,38
4,CSCO,Cisco Systems Inc,44.64,-0.80,-1.761,44.555,45.655,45.44,14
5,CVX,Chevron Corp,92.04,-0.96,-1.032,91.280,93.370,93.00,40
6,XOM,Exxon Mobil Corp,44.56,-0.81,-1.785,44.390,45.790,45.37,34
7,GS,Goldman Sachs Group Inc,180.10,-1.34,-0.739,177.680,181.170,181.44,32
8,HD,Home Depot Inc,240.88,2.69,1.130,235.790,241.180,238.19,13
9,IBM,International Business Machines Corp,119.12,-2.26,-1.862,118.970,121.720,121.38,18
10,INTC,Intel Corp,61.98,-1.12,-1.775,61.820,63.800,63.10,16
11,JNJ,Johnson & Johnson,146.71,-0.97,-0.657,145.820,148.500,147.68,35
12,KO,Coca-Cola Co,45.17,-0.72,-1.569,45.030,46.090,45.89,26
13,JPM,JPMorgan Chase & Co,90.17,-1.16,-1.270,89.670,91.760,91.33,22
14,MCD,McDonald’s Corp,185.08,0.98,0.530,182.106,185.480,184.10,25
15,MMM,3M Co,145.81,-2.40,-1.619,145.340,148.640,148.21,34
16,MRK,Merck & Co Inc,76.55,-0.34,-0.442,76.270,77.030,76.89,28
17,MSFT,Microsoft Corp,183.43,-2.23,-1.201,183.290,186.670,185.66,16
18,NKE,Nike Inc,94.26,1.31,1.410,92.370,94.380,92.95,17
19,PFE,Pfizer Inc,37.26,-0.37,-0.983,37.050,37.650,37.63,33
20,PG,Procter & Gamble Co,111.62,-1.66,-1.465,111.430,113.200,113.28,25
21,TRV,Travelers Companies Inc,99.17,3.63,3.800,94.930,100.800,95.54,24
22,UNH,UnitedHealth Group Inc,286.91,-1.08,-0.375,284.930,290.130,287.99,21
23,RTX,Raytheon Technologies Corp,60.10,2.30,3.979,58.200,60.210,57.80,29
24,VZ,Verizon Communications Inc,53.97,-0.29,-0.535,53.860,54.640,54.26,20
25,V,Visa Inc,190.62,-3.24,-1.671,190.020,193.616,193.86,18
26,WBA,Walgreens Boots Alliance Inc,39.75,-0.39,-0.972,39.660,40.760,40.14,17
27,WMT,Walmart Inc,124.99,-0.46,-0.367,124.250,126.140,125.45,29
28,DIS,Walt Disney Co,117.83,-2.09,-1.743,116.500,120.300,119.92,15

# load data into database

In [21]:
connection_string = "postgres:postgres@localhost:5433/stock_db"
engine = create_engine(f'postgresql://{connection_string}')

In [22]:
# Confirm tables
engine.table_names()

['price_data_df', 'dividend_df']

In [28]:
price_data_df.head()

,SYMBOL,NAME,PRICE,CHANGE,PCT_CHANGE,LOW,HIGH,PREVIOUS CLOSE,ESG Rating
id,,,,,,,,,
0,AXP,American Express Co,89.83,-0.90,-0.992,89.125,91.430,90.73,22
1,AAPL,Apple Inc,316.85,-2.38,-0.746,315.870,320.890,319.23,24
2,BA,Boeing Co,139.00,5.68,4.260,136.151,144.239,133.32,39
3,CAT,Caterpillar Inc,114.06,-1.63,-1.409,113.820,115.680,115.69,38
4,CSCO,Cisco Systems Inc,44.64,-0.80,-1.761,44.555,45.655,45.44,14

In [25]:
price_data_df.to_sql(name='price_data_df', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "SYMBOL" of relation "price_data_df" does not exist
LINE 1: INSERT INTO price_data_df (id, "SYMBOL", "NAME", "PRICE", "C...
                                       ^

[SQL: INSERT INTO price_data_df (id, "SYMBOL", "NAME", "PRICE", "CHANGE", "PCT_CHANGE", "LOW", "HIGH", "PREVIOUS CLOSE", "ESG Rating") VALUES (%(id)s, %(SYMBOL)s, %(NAME)s, %(PRICE)s, %(CHANGE)s, %(PCT_CHANGE)s, %(LOW)s, %(HIGH)s, %(PREVIOUS CLOSE)s, %(ESG Rating)s)]
[parameters: ({'id': 0, 'SYMBOL': 'AXP', 'NAME': 'American Express Co', 'PRICE': 89.83, 'CHANGE': -0.9, 'PCT_CHANGE': -0.992, 'LOW': 89.125, 'HIGH': 91.43, 'PREVIOUS CLOSE': 90.73, 'ESG Rating': 22}, {'id': 1, 'SYMBOL': 'AAPL', 'NAME': 'Apple Inc', 'PRICE': 316.85, 'CHANGE': -2.38, 'PCT_CHANGE': -0.746, 'LOW': 315.87, 'HIGH': 320.89, 'PREVIOUS CLOSE': 319.23, 'ESG Rating': 24}, {'id': 2, 'SYMBOL': 'BA', 'NAME': 'Boeing Co', 'PRICE': 139.0, 'CHANGE': 5.68, 'PCT_CHANGE': 4.26, 'LOW': 136.151, 'HIGH': 144.239, 'PREVIOUS CLOSE': 133.32, 'ESG Rating': 39}, {'id': 3, 'SYMBOL': 'CAT', 'NAME': 'Caterpillar Inc', 'PRICE': 114.06, 'CHANGE': -1.63, 'PCT_CHANGE': -1.409, 'LOW': 113.82, 'HIGH': 115.68, 'PREVIOUS CLOSE': 115.69, 'ESG Rating': 38}, {'id': 4, 'SYMBOL': 'CSCO', 'NAME': 'Cisco Systems Inc', 'PRICE': 44.64, 'CHANGE': -0.8, 'PCT_CHANGE': -1.761, 'LOW': 44.555, 'HIGH': 45.655, 'PREVIOUS CLOSE': 45.44, 'ESG Rating': 14}, {'id': 5, 'SYMBOL': 'CVX', 'NAME': 'Chevron Corp', 'PRICE': 92.04, 'CHANGE': -0.96, 'PCT_CHANGE': -1.032, 'LOW': 91.28, 'HIGH': 93.37, 'PREVIOUS CLOSE': 93.0, 'ESG Rating': 40}, {'id': 6, 'SYMBOL': 'XOM', 'NAME': 'Exxon Mobil Corp', 'PRICE': 44.56, 'CHANGE': -0.81, 'PCT_CHANGE': -1.785, 'LOW': 44.39, 'HIGH': 45.79, 'PREVIOUS CLOSE': 45.37, 'ESG Rating': 34}, {'id': 7, 'SYMBOL': 'GS', 'NAME': 'Goldman Sachs Group Inc', 'PRICE': 180.1, 'CHANGE': -1.34, 'PCT_CHANGE': -0.7390000000000001, 'LOW': 177.68, 'HIGH': 181.17, 'PREVIOUS CLOSE': 181.44, 'ESG Rating': 32}  ... displaying 10 of 29 total bound parameter sets ...  {'id': 27, 'SYMBOL': 'WMT', 'NAME': 'Walmart Inc', 'PRICE': 124.99, 'CHANGE': -0.46, 'PCT_CHANGE': -0.36700000000000005, 'LOW': 124.25, 'HIGH': 126.14, 'PREVIOUS CLOSE': 125.45, 'ESG Rating': 29}, {'id': 28, 'SYMBOL': 'DIS', 'NAME': 'Walt Disney Co', 'PRICE': 117.83, 'CHANGE': -2.09, 'PCT_CHANGE': -1.743, 'LOW': 116.5, 'HIGH': 120.3, 'PREVIOUS CLOSE': 119.92, 'ESG Rating': 15})]
(Background on this error at: http://sqlalche.me/e/f405)